.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: .5px solid black;
    border-radius: 3px;
    gap: 5px;
}
.form-input{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.form-control{
    background-color: white;
    border: .5px solid black;
    border-radius: 4px;
    color: black;
}
.form-label{
    color: rgb(0, 0, 0);
}
.send-button{
    border: 0.7px rgb(8, 8, 8) solid;
    background-color: white;
    color: rgb(0, 0, 0);
}
.send-button:hover{
    background-color: rgb(238, 236, 236);
    color: rgb(34, 94, 112);
    
}